<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Luis Pereira - Blog</title>{% endblock %}
  {% include 'includes/page_head.html' %}
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/codehilite-stata-dark.css' %}">
</head>
<body class="dark-theme container mx-auto px-4">
  {% include 'includes/header.html' %}
  <main class="">
    <div class="w-full">
      {% block content %}{% endblock %}
      {% block pagination %}
        {% if is_paginated %}
        <div class="pagination w-full text-center my-4">
          <span class="page-links text-lg">
            {% if page_obj.has_previous %}
            <a class="hover:text-white hover:underline"
              href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
              previous</a>
            {% endif %}
            <span class="page-current mx-2">
              {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
            <a class="hover:text-white hover:underline"
              href="{{ request.path }}?page={{ page_obj.next_page_number }}">
              next</a>
            {% endif %}
          </span>
        </div>
        {% endif %}
      {% endblock %}
    </div>
    <aside class="">
      {% block sidebar %}
        <!-- <ul class="sidebar-nav"> -->
        <!--   <li><a href="{% url 'index' %}">Home</a></li> -->
        <!--   <li><a href="{% url 'blog' %}">Blog</a></li> -->
        <!--   <li><a href="">About</a></li> -->
        <!-- </ul> -->
     {% endblock %}
    </aside>
  </main>
  <footer class="footer">
  </footer>
</body>
</html>
