{% extends "blog_base.html" %}

{% block content %}
  <h1 class="font-bold text-4xl text-white">Blog Posts</h1>
  {% if pinned %}
  <h5 class="font-bold text-2xl mt-12 mb-4 italic border-b border-1 border-gray-700">Pinned</h5>
  {% for post in pinned %}
  <article class="w-full my-6">
    <h3 class="text-xl font-bold"><a class="blog__link" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    <!-- <p class="is-size-6">{{ post.contentHTML|slice:":100"|safe }}</p> -->
    <span class="text-lg italic mt-1 block">{{ post.posted_at }} - 
      {% for tag in post.tags %}
      <a class="blog__link" href="{{ tag.get_absolute_url }}">{{tag.name}}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </span>
  </article>
  {% endfor %}
  <h5 class="font-bold text-2xl mt-16 mb-4 italic border-b border-1 border-gray-700">All Posts</h5>
  {% endif %}
  {% for post in posts %}
  <article class="w-full my-6">
    <h3 class="text-xl font-bold"><a class="blog__link" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    <!-- <p class="is-size-6">{{ post.contentHTML|slice:":100"|safe }}</p> -->
    <span class="text-lg italic mt-1 block">{{ post.posted_at }} - 
      {% for tag in post.tags %}
      <a class="blog__link" href="{{ tag.get_absolute_url }}">{{tag.name}}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </span>
  </article>
  {% endfor %}
{% endblock %}
