{% extends "blog_base.html" %}

{% block content %}
  <div class="mt-24">
    <h1 class="font-bold text-4xl text-white">{{ post.title }}</h1>
    <span class="text-lg italic mt-1 block">{{ post.posted_at }} - 
      {% for tag in post.tags %}
      <a class="hover:text-white hover:underline" href="{{ tag.get_absolute_url }}">{{tag.name}}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </span>
  </div>
  <div class="mt-24 text-lg post-content">
    {{ post.contentHTML | safe }}
  </div>
{% endblock %}
