{% extends "portfolio_base.html" %}

{% block content %}
  <h1 class="font-bold text-4xl text-white">Projects</h1>
  <section class="w-full flex my-6 flex-wrap">
    {% for project in projects %}
    <article class="portfolio-item">
        <div class="portfolio-item__container">
          <div class="portfolio-item__image" style="background-image: url('/media/{{ project.thumbnail.image}}')"></div>
          <h3 class="portfolio-item__title">{{ project.title }}</h3>     
          <!-- <p class="portfolio-item__body"> -->
          <!--   subtitulo produto -->
          <!-- </p> -->
        </div>          
        <ul class="portfolio-item__tags">
          {% for tag in project.tags %}
          <!-- <li style="background-color: {{tag.color}};">{{tag.name}}</li> -->
          <li style="">{{tag.name}}</li>
          {% endfor %}
        </ul>
    </article>
    {% endfor %}
  </section>
{% endblock %}
