div.codehilite {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .75rem;
    overflow-x: auto;
}

.post-content code {
    color: gold;
    font-style: italic;
    margin: 0 .5rem; 
}

.codehilite code {
    color: inherit;
    font-style: inherit;
    margin: 0;
}

.post-content p a {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.post-content p a:hover {
    color: white;
}

.post-content ul, 
.post-content ol {
    margin: 0.5rem 3rem; 
}

.post-content ol {
    list-style-type: decimal;
}

.post-content ul {
    list-style-type: circle;
}

.blog__link:hover,
.blog__link:active {
  color: var(--palete-red);
  /* text-decoration: underline; */
}
