{% extends "curriculum_base.html" %}
{% block content %}
  <h1 class="font-bold text-4xl text-white">Curriculum Vitae</h1>
  <p class="my-5">
    I introduced myself in the <a class="common__link" href="/">homepage</a>,
    and here are my traditional curriculum vitae for anyone that wants to
    download it and some certificates from courses that I completed.
  </p>
  <div class="mt-10">
    {% for curriculum in curriculums %}
    <a class="mb-4 curriculum__link" href="{{ curriculum.get_absolute_url }}">
      {{ curriculum.name }}
    </a>
    {% endfor %}
  </div>
{% endblock %}
