<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Luis Pereira - Curriculum</title>{% endblock %}
  {% include 'includes/page_head.html' %}
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'curriculum/css/curriculum.css' %}">
</head>
<body class="dark-theme container mx-auto px-4">
  {% include 'includes/header.html' %}
  <main class="">
    <div class="w-full">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer class="footer">
    {% block footer %}{% endblock %}
  </footer>
</body>
</html>
