<div class="flex text-2xl sm:text-3xl md:text-5xl font-bold italic">
  <a class="cursor-pointer flex" href="{% url 'index' %}">
    <span class="leading-none mr-8">
      Luís
      <!-- <br> -->
      Pereira
    </span>
  </a>
</div>
