<div class="navbar-links w-full flex flex-wrap justify-between">
  <ul class="flex w-full sm:w-auto">
    <li class="mr-6 sm:mr-8">
      <a class="nav__link {% if navMenu == 'home' %}active{% endif %}" 
        href="{% url 'index' %}"> Home </a>
    </li>
    <li class="mr-6 sm:mr-8">
      <a class="nav__link {% if navMenu == 'curriculum' %}active{% endif %}" 
        href="{% url 'curriculum' %}">Curriculum</a></li>
    <li class="mr-6 sm:mr-8">
      <a class="nav__link {% if navMenu == 'portfolio' %}active{% endif %}" 
        href="{% url 'portfolio' %}">Portfolio</a>
    </li>
    <li class="mr-6 sm:mr-8">
      <a class="nav__link {% if navMenu == 'blog' %}active{% endif %}" 
        href="{% url 'blog' %}">Blog</a></li>
    <!-- <li class="mr-8"><a class="hover:text-white px-1 border-l-2 border-transparent hover:border-white cursor-pointer">About</a></li> -->
  </ul>
</div>
