<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<!-- To use JSX -->
<!-- <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->

