<ul class="flex">
  <li class="ml-4"><a class="nav__link" 
      href="https://github.com/easilok" target="_blank">
      <i class="fab fa-github"></i>
    </a></li>
  <li class="ml-4"><a class="nav__link" 
      href="https://gitlab.com/easilok" target="_blank">
      <i class="fab fa-gitlab"></i>
    </a></li>
  <li class="ml-4"><a class="nav__link" 
      href="https://linkedin.com/in/pereiracvluis/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a></li>
  <li class="ml-4"><a class="nav__link" 
      href="https://instagram.com/easilok" target="_blank">
      <i class="fab fa-instagram"></i>
    </a></li>
</ul>
