pre { line-height: 125%; margin: 0; }
td.linenos pre { color: #586e75; background-color: #073642; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #586e75; background-color: #073642; padding-left: 5px; padding-right: 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #073642 }
.codehilite { background: #002b36; color: #839496 }
.codehilite .c { color: #586e75; font-style: italic } /* Comment */
.codehilite .err { color: #839496; background-color: #dc322f } /* Error */
.codehilite .esc { color: #839496 } /* Escape */
.codehilite .g { color: #839496 } /* Generic */
.codehilite .k { color: #859900 } /* Keyword */
.codehilite .l { color: #839496 } /* Literal */
.codehilite .n { color: #839496 } /* Name */
.codehilite .o { color: #586e75 } /* Operator */
.codehilite .x { color: #839496 } /* Other */
.codehilite .p { color: #839496 } /* Punctuation */
.codehilite .ch { color: #586e75; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #586e75; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #d33682 } /* Comment.Preproc */
.codehilite .cpf { color: #586e75 } /* Comment.PreprocFile */
.codehilite .c1 { color: #586e75; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #586e75; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #dc322f } /* Generic.Deleted */
.codehilite .ge { color: #839496; font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #dc322f } /* Generic.Error */
.codehilite .gh { color: #839496; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #859900 } /* Generic.Inserted */
.codehilite .go { color: #839496 } /* Generic.Output */
.codehilite .gp { color: #839496 } /* Generic.Prompt */
.codehilite .gs { color: #839496; font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #839496; text-decoration: underline } /* Generic.Subheading */
.codehilite .gt { color: #268bd2 } /* Generic.Traceback */
.codehilite .kc { color: #2aa198 } /* Keyword.Constant */
.codehilite .kd { color: #2aa198 } /* Keyword.Declaration */
.codehilite .kn { color: #cb4b16 } /* Keyword.Namespace */
.codehilite .kp { color: #859900 } /* Keyword.Pseudo */
.codehilite .kr { color: #859900 } /* Keyword.Reserved */
.codehilite .kt { color: #b58900 } /* Keyword.Type */
.codehilite .ld { color: #839496 } /* Literal.Date */
.codehilite .m { color: #2aa198 } /* Literal.Number */
.codehilite .s { color: #2aa198 } /* Literal.String */
.codehilite .na { color: #839496 } /* Name.Attribute */
.codehilite .nb { color: #268bd2 } /* Name.Builtin */
.codehilite .nc { color: #268bd2 } /* Name.Class */
.codehilite .no { color: #268bd2 } /* Name.Constant */
.codehilite .nd { color: #268bd2 } /* Name.Decorator */
.codehilite .ni { color: #268bd2 } /* Name.Entity */
.codehilite .ne { color: #268bd2 } /* Name.Exception */
.codehilite .nf { color: #268bd2 } /* Name.Function */
.codehilite .nl { color: #268bd2 } /* Name.Label */
.codehilite .nn { color: #268bd2 } /* Name.Namespace */
.codehilite .nx { color: #839496 } /* Name.Other */
.codehilite .py { color: #839496 } /* Name.Property */
.codehilite .nt { color: #268bd2 } /* Name.Tag */
.codehilite .nv { color: #268bd2 } /* Name.Variable */
.codehilite .ow { color: #859900 } /* Operator.Word */
.codehilite .w { color: #839496 } /* Text.Whitespace */
.codehilite .mb { color: #2aa198 } /* Literal.Number.Bin */
.codehilite .mf { color: #2aa198 } /* Literal.Number.Float */
.codehilite .mh { color: #2aa198 } /* Literal.Number.Hex */
.codehilite .mi { color: #2aa198 } /* Literal.Number.Integer */
.codehilite .mo { color: #2aa198 } /* Literal.Number.Oct */
.codehilite .sa { color: #2aa198 } /* Literal.String.Affix */
.codehilite .sb { color: #2aa198 } /* Literal.String.Backtick */
.codehilite .sc { color: #2aa198 } /* Literal.String.Char */
.codehilite .dl { color: #2aa198 } /* Literal.String.Delimiter */
.codehilite .sd { color: #586e75 } /* Literal.String.Doc */
.codehilite .s2 { color: #2aa198 } /* Literal.String.Double */
.codehilite .se { color: #2aa198 } /* Literal.String.Escape */
.codehilite .sh { color: #2aa198 } /* Literal.String.Heredoc */
.codehilite .si { color: #2aa198 } /* Literal.String.Interpol */
.codehilite .sx { color: #2aa198 } /* Literal.String.Other */
.codehilite .sr { color: #cb4b16 } /* Literal.String.Regex */
.codehilite .s1 { color: #2aa198 } /* Literal.String.Single */
.codehilite .ss { color: #2aa198 } /* Literal.String.Symbol */
.codehilite .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #268bd2 } /* Name.Function.Magic */
.codehilite .vc { color: #268bd2 } /* Name.Variable.Class */
.codehilite .vg { color: #268bd2 } /* Name.Variable.Global */
.codehilite .vi { color: #268bd2 } /* Name.Variable.Instance */
.codehilite .vm { color: #268bd2 } /* Name.Variable.Magic */
.codehilite .il { color: #2aa198 } /* Literal.Number.Integer.Long */
