<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Luis Pereira - Homepage</title>{% endblock %}
  {% include 'includes/page_head.html' %}
  {% load static %}
</head>
<body class="dark-theme container mx-auto px-4">
  {% include 'includes/header.html' %}
  <main class="">
    <div class="w-full">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>
