{% extends "homepage_base.html" %}

{% block content %}
  <h1 class="font-bold text-4xl text-white">Welcome to my homepage!</h1>
  <article class="home-content w-full my-6">
    <h3>Introduction</h3>
    <p class="paragraph__text">My name is Luís Pereira and I'm an Electrotechnical Engineer from
    Portugal.  Since my graduation I have worked in industrial automation,
    mainly on PLC programming and electrical panel design, and most recently I
    worked with embedded systems, from design to building, with a great focus
    on the development of firmware. 
    </p>
    <p class="paragraph__text">Those were my official jobs, but I always found myself driven to the
    software development, and more recently the web development, because I
    think that web is the place that can connect everyone and everything in the
    world. With that motivation driven me, I have some personal projects to
    enrich my knowledge on this area, and I work on some internal tools that 
    are used in management and production departments of a company. You can
    learn more about this projects in the 
    <a href="/portfolio" class="common__link">portfolio</a> section of this
    website.
    </p>
    <h3>About myself</h3>
    <p class="paragraph__text">From my brief introduction, one can conclude that I'm a person that 
    does not content with the knowledge that I have, but I'm always looking 
    for new knowledge, new technologies to learn and explore, and new ways 
    to approach the problems that reach me. I try my best to keep me updated
    with the current world, and for that I search for new and difficult
    challenges in order to push myself to new solutions and think outside the 
    box. 
    </p>
    <p class="paragraph__text">One type of challenge that I like (and coincidently keeps reaching to my hands) is 
    handle old code base, developed by others, with the task of adding new features, fix 
    bugs or even apply some modernization to the application/website. This is a exciting 
    challenge that makes me understand others way of thinking and allows for me to learn 
    other ways of approach problems.
    </p>
    <h3>Some details on my projects</h3>
    <p class="paragraph__text">The projects I was involved can be found in the 
    <a href="/portfolio" class="common__link">portfolio</a> section of this
    website, with details on the approaches I took, but as a brief summary,
    I have knowledge, on the web development, with PHP (vanilla and with
    <em>Laravel</em>), <em>python</em> (with <em>Django</em>) on the
    <em>backend</em>, and <em>JavaScript</em> (vanilla, <em>Vue</em> and
    <em>React</em>). 
    </p>
    <p class="paragraph__text">I also work with the Linux, because it helps me better understand
    how computers work and how to setup and fix servers and systems. With 
    this knowledge, I can have some confidant with system administration,
    having servers on my hands to manage, both personal and business.
    </p>
  </article>
{% endblock %}
